<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
  More info: h5bp.com/b/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Glukit</title>
    <meta name="description" content="Glukit">
    <meta name="keywords" content="diabetes T1D">
    <meta name="author" content="humans.txt">
    <!-- Facebook Metadata /-->
    <meta property="fb:page_id" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="Glukit, The Blog">
    <meta property="og:title" content="Glukit Blog">
    <!-- Google+ Metadata /-->
    <meta itemprop="name" content="Glukit Blog">
    <meta itemprop="description" content="Glukit, The Blog">
    <meta itemprop="image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    {{ template "chrome/includes.html" . }}
</head>
  <body>    
    {{ template "chrome/menu.html" }}

<div class="row">